## Ignore CI files
application/*
system/*
index.php

## Don't ignore the Ember files
!application/config/
application/config/*
!application/config/ember_js.php

!application/libraries
application/libraries/*
!application/libraries/Ember_js.php


!application/controllers
application/controllers/*
!application/controllers/emberjs.php